{% load static %}


<!-- template for the form to update PIN (linked to #update_pin button only showing if a PIN is already set) -->

<!-- overlay wrapper -->
<div id="pin_update_modal" class="fixed hidden inset-0 bg-gray-700 bg-opacity-50">

    <!-- form div -->
    <div id="pin_update_form" class="relative my-auto mx-auto p-8
     rounded-lg bg-yellow-100 bg-opacity-80
    text-yellow-800 font-bold">
        <form action="{%url 'dashboard:edit_pin'%}" method="post" class="flex flex-col items-center">
            {%csrf_token%}
            <p>== Enter your password and current PIN ==</p>
            <div id="password_check" class="flex">
                <input class="mb-1 rounded-lg" type="password" name="master_password"
                            placeholder="Your Master Password">
            </div>

            <div id="pin_check" class="flex">
                <input class="mb-1 rounded-lg" type="password" name="old_pin" maxlength="4" placeholder="Your current PIN">
            </div>

            <p>== Enter your new PIN ==</p>

            <div id="new_pin" class="flex">
                <input class="mb-1 rounded-lg" type="password" name="new_pin" maxlength="4"
                            placeholder="Insert 4 digits...">
            </div>
            <div id="pin_confirmation" class="flex">
                <input class="mb-1 rounded-lg" type="password" name="confirm_pin" maxlength="4" placeholder="Insert new PIN again..."></div>

            <input type="submit" value="Update PIN" class="btn btn-yellow mt-4 bg-yellow-600">
        </form>
    </div>
</div>

<!-- template for the form to SET PIN () -->

<!-- overlay wrapper -->
<div id="pin_set_modal" class="fixed hidden inset-0 bg-gray-600 bg-opacity-50">

    <!-- form div -->
    <div id="pin_set_form" class="relative my-auto mx-auto p-8
    rounded-lg bg-yellow-200 bg-opacity-80
    text-yellow-800 font-bold">
        <form action="{%url 'dashboard:set_pin'%}" method="post" class="flex flex-col items-center">
            {%csrf_token%}
            <p>== Enter your new PIN ==</p>

            <input class="my-1 rounded-lg" type="password" name="new_pin" maxlength="4" placeholder="Insert 4 digits...">
            <input type="submit" value="Set PIN" class="btn btn-blue">

        </form>
    </div>
</div>

<!-- template for the form to change password -->


<!-- template for the form to change email -->



<!-- template for the form to DELETE account -->
