{% extends "theme/base.html" %}
{% load static %}



{% block title %}
Login
{% endblock title %}

{% block body %}

<div class="">
    <!-- login/register box -->
    <div class="flex flex-row justify-around">
        <button id="toggle_login" class="btn btn-green" rounded">Login</button>
        <button id="toggle_register" class="btn btn-yellow">Register</button>
    </div>
    <div id="login_form" class="flex flex-col items-center">
        <!-- login -->
        <p>Log in</p>
        <form action="{%url 'dashboard:login'%}" method="post" class="">
            {%csrf_token%}
            <div>
                <input autofocus type="text" name="username" placeholder="Username" class="rounded-lg">
            </div>
            <div class="flex">
                <input type="password" name="password" placeholder="Password">
            </div>
            <input type="submit" value="Login" class="btn btn-blue">
        </form>


    </div>
    <div id="register_form" class="hidden flex flex-col items-center">
        <p>register</p>
        <form action="{%url 'dashboard:register'%}" method="post">
            {{ form.non_field_errors }}
            {%csrf_token%}
        <div><input autofocus type="text" name="username" placeholder="Username"></div>
        <div><input type="text" name="email" placeholder="email"></div>
        <div class="flex"><input type="password" name="password" placeholder="Password"></div>
        <div class="flex"><input type="password" name="confirmation" placeholder="Confirm Password"></div>
        <input type="submit", value="Register" class="btn btn-red">
        </form>
    </div>

</div>
{% endblock body %}