{% extends "theme/base.html" %}
{% load static %}

{% block title %} {{user | capfirst}}{% endblock title %}

{% block body %}

<div class="flex flex-col w-full px-8">
    <div class="flex justify-center items-center">
        <p class="text-4xl text-teal-500">Hello: <span class="text-teal-700">{{request.user |capfirst}}</span></p>
    </div>

    {% if not user.pin %}
    <div class="flex flex-col bg-yellow-200 border-2 rounded-lg w-2/4 mx-auto mt-3 p-2">
        <p class="text-yellow-800 font-bold">Remember to set a PIN to enable content Protection</p>

        <button id="set_pin" class="btn btn-yellow">Set PIN</li>

    </div>

    {%endif%}



    <div class="flex flex-col md:flex-row w-full my-10">

        <sidebar class="flex flex-col flex-shrink items-center
        bg-teal-50 border border-teal-400
        rounded-t-lg md:rounded-tr-none
        md:rounded-tl-lg md:rounded-bl-lg">

                <p class="flex w-full justify-center font-bold mx-auto py-2
                 bg-teal-100 text-teal-900">Settings</p>



                <ul class="flex flex-col gap-2 p-2">
                    <li id="update_password" class="btn btn-violet">Change Password</li>
                    <li id="change_email" class="btn btn-green">Change email</li>
                   {% if user.pin %}
                   <li id="update_pin" class="btn btn-yellow">Change PIN</li>


                   {%endif%}
                </ul>


                <button id="delete_account" class="btn btn-red mt-auto mb-5 mx-2">Delete Account</button>

        </sidebar>
        <div class=" flex flex-col flex-grow
        justify-center items-center p-3
        bg-teal-50 border border-teal-300
        border-t-0 md:border-t rounded-b-lg md:rounded-bl-none
        md:border-l-0 md:rounded-tr-lg md:rounded-br-lg">

            <div class="flex flex-col items-center">
                <p class="italic text-lg border-b border-teal-600">{{user.email}}</p>
                <p class="text-small text-teal-600">Email</p>
            </div>
            <div class="flex flex-col justify-center items-center
                        p-4 m-2 md:m-6 w-full md:w-1/2
                    bg-teal-200 border-2 border-teal-300 rounded-lg">
                    <p>Number of logins:</p>
                    <p class="text-5xl ">{{user.num_logins}}</p>
            </div>


            <div id="folder-section" class="flex flex-col justify-center items-center
                                            p-4 m-2 md:m-6 w-full md:w-1/2
                                            bg-teal-200 border-2 border-teal-300 rounded-lg">

                <div class="text-xl"><span>Folders: </span> <span class="font-bold">{{user.num_folders}} </span></div>

                <div class="flex flex-wrap gap-2 my-8">
                   {% for folder in folders %}
                   <a href="{% url 'vault:index'%}?folder={{folder}}" class="btn bg-{{folder.color}}-600 p-1 rounded-lg">{{folder}}</a>


                   {%endfor%}
                </div>
            </div>

            <div class="self-end">
                <span class="font-bold mr-2">Last access: </span>
                <!-- django date & time template formatting (this example: "3rd, Dec 2022, 10:12 a.m." ) -->
                <span class="border-b-2 border-teal-600">{{user.last_login |date:"jS, M Y, h:m a"}}</span>
            </div>
        </div>
    </div>
</div>


<div id="modals" class="">
    {%include 'dashboard/dashboard_modals.html'%}
</div>

{% endblock body %}