{% extends "theme/base.html" %}
{% block title %} {{title}}{% endblock title %}
{% load static %}


{% block body %}

<div class="flex justify-center">
    <div id="item_content">

        <div class="text-4xl">ID: {{item_id}}</div>
        <form id="login_form" action="{%url 'vault:login_content' item_id%}" method="post"
            class="p-6 flex flex-col items-apart">
            {%csrf_token%}
            {% include "vault/custom_form.html" %}
            <input type="submit" name="add_login" value="Edit login" class="btn btn-teal ">

        </form>

    </div>


    <!-- side bar -->

    <div id="settings" class="ml-6">
        <h3 class="text-lg">Settings:</h3>

        <button id="delete_item" value="{{item_id}}" class="btn btn-red">Delete Item</button>

        {% if history %}
        <div id="password_history" class="my-2 bg-gray-50 rounded-md self-center ">

            <p class="flex justify-center rounded-t-md
                    border-b border-gray-400 bg-gray-200
                    text-gray-700 font-bold
                    ">Previous passwords:
                </p>

            <ul class="list-disc list-inside p-1">
            {% for old_pw in history %}
                <li class="italic text-blue-800
                hover:bg-teal-100  hover:cursor-pointer
                 my-2">{{old_pw}}</li>
                {%endfor%}
            </ul>

            {%else%}

            <p class="text-gray-400 my-2 italic">No previous passwords:</p>
        </div>
        {%endif%}
    </div>

    <!-- login content modal -->

    <div id="delete_item_confirm" class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 ">
        <div class="relative my-auto mx-auto
        text-center
        p-5 border-2 border-red-500 shadow-lg rounded-md bg-red-100 ">
                <h2 class="text-lg font-bold text-red-500">&#9888 DELETE ITEM &#9888<h2>
                <p class="my-2 text-red-700">Are you sure?</p>

            <button value="confirm" class="btn btn-green">Confirm</button>
            <button value="dismiss" class="btn btn-red">Dismiss</button>

        </div>
    </div>

</div>



<!-- <div class="mx-auto my-auto">
    <div class="my-5">
        <a href="{%url 'vault:index'%}" class="btn btn-red">Home</a>
        <input type="checkbox" name="fav" id="">
    </div>
<div>

        <edit_edit_form.action="" method="post">

            {%csrf_token%}
            {{edit_edit_edit_form.as_p}}
            <input type="submit" class="btn btn-green" value="Edit">
        </edit_edit_form.
</div>

</div> -->

{% endblock body %}