{%load static%}


<!-- <div class="login-box" style="background-color: login.folder.color ;"> -->
<div class="login_box " id="{{login.id}}" data-type="login" data-protection="{% if login.protected == True %}locked{%else%}unlocked{%endif%}">
    <div class="mx-auto"><b>Title: </b>
        {{login.title}}, {{login.id}}
    </div>
    <div>

        <div class="flex justify-around ">
            <div class="username-copy flex flex-col items-center m-3 hover:opacity-50 hover:cursor-pointer">
                <p class="italic border-b-2 border-teal-500 leading-3 ">
                    {% if not login.username %}
                    " "
                    {%else%}
                    {{login.username}}
                    {%endif%}
                </p>

                <p class="text-xs text-teal-800 opacity-80 ">User</p>
            </div>
            {% if login.password %}

            <img class="copy-passw
            {% if login.protected == True %} opacity-30{%endif%}
            " src="{%static 'icons/key.svg'%}" alt="password">

            {%else%}
            <img class="opacity-5" src="{%static 'icons/key.svg'%}" alt="password">
            {%endif%}

            <!-- TODO don't include value of password, listen for click and send request to backend and add to clipboard -->
        </div>
    </div>
</div>