{% extends "theme/base.html" %}
{% block title %} {{title}}{% endblock title %}

{% block body %}

<div class="flex-col ">

</div>









<!-- <div class="mx-auto my-auto">
    <div class="my-5">
        <a href="{%url 'vault:index'%}" class="btn btn-red">Home</a>
        <input type="checkbox" name="fav" id="">
    </div>
<div>

        <edit_form.action="" method="post">

            {%csrf_token%}
            {{edit_edit_form.as_p}}
            <input type="submit" class="btn btn-green" value="Edit">
        </edit_form.
</div>

</div> -->

{% endblock body %}