{% load static %}

<div class="h-1/4 flex flex-col justify-around py-4 px-3 bg-gray-50 rounded ">

    <div class="rounded-t-md
    border-b border-gray-400 bg-gray-200
    text-gray-700 font-bold
    mb-4 ">Filters :
        <span id="dropdown" class="mx-2 md:hidden">&#9662;</span>
    </div>

    <div id="filters" class="hidden md:block">

        <form action="{%url 'vault:index'%}" id="search_form">
            <input type="search" class="flex rounded-lg w-full" name="q" id="search_text"
                placeholder="&#128269 Search...">
        </form>

        <div class="flex justify-around my-6">

            <a href="{%url 'vault:index'%}" class="btn btn-blue">All</a>
            <a href="{%url 'vault:index'%}?filter=fav" class="btn btn-yellow">Favorites</a>
        </div>
        <div class="flex justify-around">
            <span class="font-bold">Folders</span>
            <button id="new_folder" class="btn btn-green p-1 py-0">+</button>
        </div>
        {% if folders %}

            <!-- list of folders -->
            <ul id="folders" class="flex flex-col gap-2">
                {% for folder in folders%}
                <!-- every li has link to query for filtering items + Edit button and Delete button -->
                <li class="font-bold p-1 flex justify-between">
                    <a href="{% url 'vault:index'%}?folder={{folder}}"
                        class="btn bg-{{folder.color}}-600 text- p-1 rounded-lg">{{folder}}</a>
                        <!-- bg colors for folders are teal, green, emerald, blue, cyan, red, orange, violet, pink, yellow -->

                    <span class="edit-folder" data-folder="{{folder.id}}">
                        <i><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                stroke="gray" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                            </svg>
                        </i></span>


                </li>
                {%endfor%}
            </ul>

        {%endif%}
        <ul class="flex">
            <li class="font-bold mx-auto mt-5">
                <a href="{%url 'vault:index'%}?folder=none" class="btn btn-gray p-2 rounded-lg">No Folder</a>
            </li>
        </ul>
        <hr class="my-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray"
            class="w-9 h-9">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>
    </div>

</div>

<script>
    if (document.querySelector('#dropdown')) {
        const dropdown = document.querySelector('#dropdown')
        dropdown.parentNode.addEventListener('click', () => {
            const filters = document.querySelector('#filters')
            if (filters.classList.contains('hidden')) {
                filters.classList.remove('hidden');
                dropdown.innerHTML = "&#9652;";
            }
            else {
                filters.classList.add('hidden')
                dropdown.innerHTML = "&#9662;";
            }

        })

    }
</script>