{% load static %}

<sidebar class="w-56 h-96 flex-grow-0 content-around" aria-label="Sidebar">
    <div class="grow overflow-y-auto py-4 px-3 bg-gray-50 rounded ">
       <div class="flex justify-center">
        <a href="{%url 'vault:index'%}" class="btn btn-gray p-1">All</a>
       </div>
        <ul class="mb-7 flex justify-around " id='view_toggles'>
            <li><a href="{%url 'vault:index'%}" class="btn btn-green p-1" >logins</a></li>
            <li><a href="{%url 'vault:index'%}" class="btn btn-red p-1" >notes</a></li>
        </ul>
        <hr class="my-4">
        <form action="{%url 'vault:index'%}" id="search_form">
            <input type="search" class="flex rounded-lg w-40" name="q" id="search_text" placeholder="&#128269 Search...">
        </form>
        <hr class="my-4">

        <a href="{%url 'vault:index'%}?fav=true">Favorites</a>
        <hr class="my-4">
        <div class="flex justify-around">
            <span class="font-bold">Folders</span>
            <button id="new_folder" class="btn btn-green p-1 py-0">+</button>
        </div>
        {% if folders %}

        <!-- algthough i like the wrap view for the folders, must set that back to list row to add edit functions for name or else add a view for folders -->
        <ul class="flex flex-wrap">
            {% for folder in folders%}
            <li class="font-bold  justify-center p-1 ">


                <a href="{% url 'vault:index'%}?folder={{folder}}" class="btn btn-orange p-1 rounded-lg">{{folder}}</a>
            </li>
           {%endfor%}
        </ul>

        {%endif%}
        <ul class="flex">
            <li class="font-bold mx-auto">
                <a href="{%url 'vault:index'%}?folder=none" class="btn btn-gray p-1 rounded-lg">No Folder</a>
            </li>
        </ul>
        <hr class="my-4">
        <p>TrashCan</p>
    </div>
</sidebar>