{% load static %}

    <div class="h-1/4 flex flex-col justify-around py-4 px-3 bg-gray-50 rounded ">


        <form action="{%url 'vault:index'%}" id="search_form">
            <input type="search" class="flex rounded-lg w-full" name="q" id="search_text"
                placeholder="&#128269 Search...">
        </form>

        <div class="flex justify-around my-6">

            <a href="{%url 'vault:index'%}" class="btn btn-gray">All</a>
            <a href="{%url 'vault:index'%}?filter=fav" class="btn btn-yellow">Favorites</a>
        </div>
        <div class="flex justify-around">
            <span class="font-bold">Folders</span>
            <button id="new_folder" class="btn btn-green p-1 py-0">+</button>
        </div>
        {% if folders %}

        <!-- list of folders -->
        <ul id="folders">
            {% for folder in folders%}
            <!-- every li has link to query for filtering items + Edit button and Delete button -->
            <li class="font-bold p-1 flex justify-between">
                <a href="{% url 'vault:index'%}?folder={{folder}}" class="btn btn-orange p-1 rounded-lg">{{folder}}</a>

                <span><button class="edit-folder btn btn-yellow p-1 rounded-full"
                        value="{{folder.id}}">e</button></span>


            </li>
            {%endfor%}
        </ul>

        {%endif%}
        <ul class="flex">
            <li class="font-bold mx-auto">
                <a href="{%url 'vault:index'%}?folder=none" class="btn btn-gray p-1 rounded-lg">No Folder</a>
            </li>
        </ul>
        <hr class="my-4">
        <p>TrashCan</p>
    </div>
