{% load static %}

<!-- pin form modal -->
<div id="pin_modal" class="fixed hidden inset-0 bg-gray-600 bg-opacity-50">
    <div class="relative my-auto mx-auto p-5 border shadow-lg rounded-md bg-white">

        <form>
            <input autofocus id="pin_input" type="text" placeholder="PIN" maxlength="4">
            <input type="submit" value="OK" class="btn btn-blue">
        </form>
    </div>
</div>


<!-- new login modal -->

<div id="new_login_modal" class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 "">
    <div class=" relative my-auto mx-auto p-5 hover:shadow-lg rounded-2xl bg-white">
    <form id="login_form" action="{%url 'vault:add_new'%}" method="post" class="p-6 flex flex-col items-apart">
        {%csrf_token%}
        <span class="flex justify-end gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-8 h-8 text-red-300">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
            </svg> {{form.favorite}}

            {%if user.pin%}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
            </svg>
            {{form.protected}}
            {%endif%}
        </span>

        <div class="flex gap-4 ">
            <div class="">
                <p>Title</p>
                {{form.title}}
            </div>

        </div>
        <div class="flex items-end gap-4 ">

            <div>
                <p>Username</p>
                {{form.username}} <span class="btn btn-green">gen</span>
            </div>

        </div>
        <div class="flex content-evenly gap-4 ">

            <div>
                <p>Password</p>
                {{form.password}} <span class="btn btn-blue">gen</span>
            </div>

        </div>
        <div class="flex items-end gap-4 ">

            <div>
                <p>Url</p>
                {{form.uri}}
            </div>

        </div>
        <div class="flex items-center justify-between">
            <p>Folder: </p>
            {{form.folder}}



            <div>




            </div>

        </div>
        <div class="flex items-end gap-4 ">

            <div>
                <p>Notes</p>
                {{form.note}}
            </div>

        </div>


        <input type="submit" name="add_login" class="btn btn-teal ">
    </form>


</div>


<!--modal content-->
<!-- <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">
            <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
                <svg class="h-6 w-6 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
            </div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">Successful!</h3>
            <div class="mt-2 px-7 py-3">
                <p class="text-sm text-gray-500">
                    Account has been successfully registered!
                </p>
            </div>
            <div class="items-center px-4 py-3">
                <button id="ok-btn"
                    class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300">
                    OK
                </button>
            </div>
        </div>
    </div> -->
<script>
    const pin_modal = document.querySelector('#pin_modal');
    const pin_form = pin_modal.querySelector('form');
    const pin_input = pin_form.querySelector('#pin_input');



    const new_login = document.querySelector('#show_login_form');

    new_login.addEventListener('click', () => {
        // get login modal  and show as grid
        const modal = document.querySelector('#new_login_modal')
        const form = modal.querySelector('form')

        modal.style.display = "grid"

        // if user clicks anywhere outside the white box, closes the modal(inset) and reset form
        modal.addEventListener('click', (e) => {
            if (e.target == modal) {
                modal.style.display = "none";
                form.reset()
            }
        }, false)


    })

    function close_modal(e) {
        console.log(event)
        console.log(event.currentTarget)
    }
</script>
















</div>