{% load static %}

<!-- pin form modal -->
<div id="pin_modal" class="fixed hidden inset-0 bg-gray-600 bg-opacity-50">
    <div class="relative my-auto mx-auto p-5 border-2 border-green-500 shadow-lg rounded-md bg-green-50">
        <header class="flex relative -top-5 justify-center
         bg-green-200  border-2 border-t-0 rounded-b-lg border-green-500
         text-green-900 font-bold "> Submit PIN</header>
        <form>
            <input autofocus id="pin_input" type="text" placeholder="PIN" maxlength="4"
                class="rounded-lg border-green-500 w-32">
            <input type="submit" value="OK" class="btn btn-green">
        </form>
    </div>
</div>


<!-- new login modal -->
<div id="new_login_modal" class="absolute hidden inset-0 bg-gray-600 bg-opacity-50 flex flex-col items-center justify-center ">

    <div class=" relative p-2 md:p-5
    scale-75 md:transform-none
    shadow-lg rounded-2xl border-2 border-blue-500 bg-blue-50 ">

        <header class="flex relative -top-2 md:-top-5 justify-center
         bg-blue-200  border-2 border-t-0 rounded-b-lg border-blue-500
         text-blue-900 font-bold ">
            New Login
        </header>

        <form id="login_form" action="{%url 'vault:add_new'%}" method="post" class="p-6 flex flex-col">
            {%csrf_token%}
            {% include "vault/custom_form.html" %}


            <input type="submit" name="add_login" class="btn btn-teal ">
        </form>

    </div>

</div>
<!-- new folder modal -->

<div id="new_folder_modal" class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 ">
    <div class="relative my-auto mx-auto p-5 border-2 border-violet-500 shadow-lg rounded-md bg-gray-200 ">
        <header class="flex relative -top-5 justify-center
         bg-violet-200  border-2 border-t-0 rounded-b-lg border-violet-500
         text-violet-900 font-bold "> New Folder</header>
        </header>
        <form action="new_folder" method="post" class="flex">
            {%csrf_token%}


            {{folder_form.name}}
            <div class="text-violet-700 text-lg flex items-center my-1">
                {{folder_form.color.label}}{{folder_form.color}}
            </div>
            <div class="flex justify-end">
                <input type="submit" class="btn btn-violet p-1 my-1 ">
            </div>
        </form>

    </div>
</div>

<!-- edit folder modal -->

<div id="edit_folder_modal" class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 ">
    <div class="relative my-auto mx-auto p-5 border-2 border-yellow-500 shadow-lg rounded-md bg-gray-200 ">
        <header class="flex relative -top-5 justify-center
         bg-yellow-200  border-2 border-t-0 rounded-b-lg border-yellow-500
         text-yellow-900 font-bold "> Edit Folder</header>
         <form value="">

                <input type="text" name="name" placeholder="Edit Name..." class="rounded-lg border-2 border-yellow-500" maxlength="32" required id="current_folder_name">

                <div class="flex justify-around">

                    <input type="submit" class="btn btn-red p-1 my-1" value="Delete">
                    <input type="submit" class="btn btn-yellow p-1 my-1" value="Edit">
                </div>
        </form>


    </div>
</div>
