{% load static %}

<div id="pin_modal" class="fixed hidden inset-0 bg-gray-600 bg-opacity-50">
    <div class="relative my-auto mx-auto p-5 border shadow-lg rounded-md bg-white">

        <form>
            <input autofocus id="pin_input" type="text" placeholder="PIN" maxlength="4">
            <input type="submit" value="OK" class="btn btn-blue">
        </form>
    </div>
</div>

<div id="new_login_modal" class="fixed grid inset-0 bg-gray-600 bg-opacity-50 "">
    <div class=" relative my-auto mx-auto p-5 border shadow-lg rounded-md bg-white">
    <h1 class="text-sm text-red-700">dividere la form e aggiungere condizionale per protected only if pin present</h1>
    <form id="login_form" action="{%url 'vault:add_new'%}" method="post" class="p-6 flex flex-col items-center">
        {%csrf_token%}
        <div class="flex items-end gap-4 ">

            <div class="">
                <p>Title</p>
                {{form.title}}
            </div>
            <div class="">
                <p>Folder:</p>
                {{form.folder}}
            </div>
        </div>
        <div class="flex items-end gap-4 ">

            <div>
                <p>Username</p>
                {{form.username}}
            </div>
            <div>
                <p>Folder:</p>
                {{form.folder}}
            </div>
        </div>

        <input type="submit" name="add_login" class="btn btn-teal">
    </form>


</div>
</div>


<!--modal content-->
<!-- <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">
            <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
                <svg class="h-6 w-6 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
            </div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">Successful!</h3>
            <div class="mt-2 px-7 py-3">
                <p class="text-sm text-gray-500">
                    Account has been successfully registered!
                </p>
            </div>
            <div class="items-center px-4 py-3">
                <button id="ok-btn"
                    class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300">
                    OK
                </button>
            </div>
        </div>
    </div> -->
<script>
    const pin_modal = document.querySelector('#pin_modal');
    const pin_form = pin_modal.querySelector('form');
    const pin_input = pin_form.querySelector('#pin_input');



    const new_login = document.querySelector('#show_login_form');

    new_login.addEventListener('click', () => {
        // get login modal  and show as grid
        const modal = document.querySelector('#new_login_modal')
        const form = modal.querySelector('form')

        modal.style.display = "grid"

        // if user clicks anywhere outside the white box, closes the modal(inset) and reset form
        modal.addEventListener('click', (e) => {
            if (e.target == modal) {
                modal.style.display = "none";
                form.reset()
            }
        }, false)


    })

    function close_modal(e) {
        console.log(event)
        console.log(event.currentTarget)
    }
</script>
















</div>