{% load static %}


<footer class="z-10 p-4 bg-teal-500 sm:p-6 dark:bg-stone-800 w-full ">

    <div class="md:flex justify-between">
        <div class="flex mb-6 md:mb-0 ">
            <a href="https://cs50.harvard.edu/web/2020/projects/final/capstone/" class="flex items-center ">
                <img src="{%static 'icons/icon_big.png' %}" class="mr-3 h-14" alt="Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Key-mdall</span>
            </a>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="https://icon-icons.com/" class="hover:underline">Icon-icons</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://heroicons.com/" class="hover:underline">Hero icons</a>
                    </li>
                    <li>
                        <a href="https://randomuser.me/" class="hover:underline">RandomUser.me</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow me</h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="https://github.com/themesberg/dluca22" class="hover:underline ">Github</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/LiukDee" class="hover:underline">Twitter</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-4 opacity-30">
                        <a href="#" class="hover:underline">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="https://cs50.harvard.edu/web/2020/projects/final/capstone/" class="hover:underline">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>
