{%load static%}


<div id="{{login.id}}" class="login_box bg-white" data-type="login"
    data-protection="{% if login.protected == True %}locked{%else%}unlocked{%endif%}">

    <!-- sometimes doesn't get initialized by tailwind until hardcoding the color first, maybe check later for css building -->
    <!-- color accent on left side of box for folder color -->
    {% if login.folder %}
    <div class="w-2 h-full rounded-xl overflow-hidden absolute p-0 -m-3
         bg-{{login.folderColor}}-600 dark:bg-{{login.folderColor}}-400 opacity-70">

         <!-- color accent initialization because this tailwind version has issues with displaying from template inherited values login.folderColor -->
         <div class="hidden">
            <div class="bg-teal-600 dark:bg-teal-400"></div>
            <div class="bg-green-600 dark:bg-green-400"></div>
            <div class="bg-emerald-600 dark:bg-emerald-400"></div>
            <div class="bg-blue-600 dark:bg-blue-400"></div>
            <div class="bg-cyan-600 dark:bg-cyan-400"></div>
            <div class="bg-red-600 dark:bg-red-400"></div>
            <div class="bg-orange-600 dark:bg-orange-400"></div>
            <div class="bg-violet-600 dark:bg-violet-400"></div>
            <div class="bg-pink-600 dark:bg-pink-400"></div>
            <div class="bg-yellow-600 dark:bg-yellow-400"></div>
         </div>
    </div>

    {%endif%}

    <!-- if login favorite, yellow start on top-right of box -->
    {% if login.favorite %}

    <div class="absolute right-1 top-0 text-4xl text-yellow-400">&#9733;</div>
{%endif%}

    <div class="mx-auto">
        <!-- flex div for title and title label -->
        <div class="flex flex-col items-center">
            <p class="border-b-2 border-teal-500 font-semibold text-gray-700  dark:text-blue-300 ">
                {{login.title | capfirst}}
            </p>
            <p class="text-xs text-teal-800opacity-80 ">Title</p>


        </div>
    </div>
    <div>

        <!-- container for username and password -->
        <div class="flex justify-around flex-wrap overflow-hidden ">

            <!-- username container flex-col for username and username label -->
            <div
                class="username-copy flex flex-col items-center m-3
                 border-b-2 border-transparent
                 hover:opacity-80 hover:border-teal-500">
                <p class="italic leading-3 text-green-600 ">
                    {% if not login.username %}
                    " "
                    {%else%}
                    {{login.username}}
                    {%endif%}
                </p>
                <p class="text-xs text-teal-800 dark:text-teal-400 opacity-80 ">User</p>

            </div>
            {% if not login.noPassword %}
            <img class="copy-passw
                {% if login.protected == True %} border-2 border-red-500 -pb-2 p-2 rounded-lg {%endif%}
                " src="{%static 'icons/key.svg'%}" alt="password">

            {%else%}
            <img class="opacity-10 " src="{%static 'icons/key.svg'%}" alt="unset">
            {%endif%}

            <!-- TODO don't include value of password, listen for click and send request to backend and add to clipboard -->
        </div>
    </div>
</div>