{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vaultman -{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <script src="{%static 'vault/script.js'%}"></script>
    <script src="{%static 'dashboard/dashboard-script.js'%}"></script>
</head>

<body class="flex flex-col bg-gray-50 font-sans w-screen">

    <nav class="w-screen bg-teal-600 inline-flex px-2 sm:px-4 py-2.5 h-14 pb">
        <div class="container flex flex-wrap items-center justify-between mx-auto">

            <h2 class="text-3xl font-bold "><a href="{%url 'vault:index'%}">Key vault</a></h2>
            <ul class="inline-flex justify-end">
                {% if user.is_authenticated %}
                <li class="mx-2 font-bold"><a href="{%url 'dashboard:dashboard'%}">{{request.user | capfirst}}</a></li>
                <li class="mx-2"><a href="{%url 'dashboard:logout'%}">Logout</a></li>
                {%else%}
                <li class="mx-2"><a href="{%url 'dashboard:login'%}">Login</a></li>
                {%endif%}
            </ul>
        </div>
    </nav>
    {% if messages %}
    <div class="h-10 mx-auto">
        {% for message in messages %}
            {{message}}
        {%endfor%}
    </div>
    {%endif%}

    <div class="bg-gray-300 h-screen mt-5 flex mx-auto ">

        {% block body %}

        {% endblock body %}
    </div>

</body>

</html>