{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vaultman -{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <script src="{%static 'vault/script.js'%}"></script>
    <script src="{%static 'dashboard/dashboard-script.js'%}"></script>
</head>

<body class=" bg-gray-50 font-sans flex flex-col
overflow-x-hidden w-screen">


    <nav class="flex w-screen h-14 items-center justify-around
    bg-teal-600  px-2 sm:px-4 py-2
    w-min-screen
    ">
        <div class="flex w-3/12">
            <h2 class="text-3xl font-bold "><a href="{%url 'vault:index'%}">Key vault</a></h2>
        </div>
        <ul class="flex  w-5/12 justify-end">
            {% if user.is_authenticated %}
            <li class="mx-2 font-bold hover:underline hover:text-white"><a
                    href="{%url 'dashboard:dashboard'%}">{{request.user | capfirst}}</a></li>
            <li class="mx-2 hover:underline hover:text-white"><a href="{%url 'dashboard:logout'%}">Logout</a></li>
            {%else%}
            <li class="mx-2"><a href="{%url 'dashboard:login'%}">Login</a></li>
            {%endif%}
        </ul>
    </nav>


    <!-- ------- -->
    <!--box containing messages handled via Js absolute position top right Z-index above all-->
    <!-- django messages also trigger the Js custom function  -->
    <div id="message-box" class="absolute grid right-1 w-56 gap-2 mt-16 z-20
    font-semibold text-lg ">

        {% if messages %}
        {% for message in messages %}
        <script>
            flash_message("{{message}}", "{{message.tags}}");
        </script>
        {%endfor%}
        {%endif%}
    </div>

    <!-- ------- -->

    <div id="bg" class="bg-tile">

        <div class="z-10 mt-8 mb-1 flex md:flex-row flex-col items-center md:items-start
    md:max-h-full w-screen ">

            {% block body %}

            {% endblock body %}
        </div>
    </div>


    {% include "theme/footer.html" %}


</body>

</html>