@tailwind base;
@tailwind components;
@tailwind utilities;



/* extend also for breakpoint https://www.youtube.com/watch?v=Nez7G5sQz0k  */
@layer components {
    /* custom buttons classes */
    .btn {
        @apply py-2 px-4 font-bold tracking-wide rounded shadow-sm text-white
    }
    .btn-teal {
        @apply bg-teal-500 hover:text-teal-800;
    }
    .btn-blue {
        @apply bg-blue-500 hover:bg-blue-700;
    }
    .btn-green {
        @apply bg-green-500 hover:bg-green-700;
    }
    .btn-yellow {
        @apply bg-yellow-500 hover:bg-yellow-700;
    }
    .btn-orange {
        @apply bg-orange-500 hover:bg-orange-700;
    }
    .btn-red {
        @apply bg-red-500 hover:bg-red-700;
    }
    .btn-gray {
        @apply bg-gray-500 hover:bg-gray-700;
    }
    .btn-violet {
        @apply bg-violet-500 hover:bg-violet-700;
    }

    /* style for login boxes */
    .login_box {
        @apply  relative flex flex-col
        my-2 mx-5 rounded-md p-3  w-80
        border border-teal-600 hover:bg-gray-500 hover:bg-opacity-75
        hover:cursor-pointer;
    }
    /* all form inputs have font teal */
    input[type="text"], input[type="password"], textarea, option, select{
        @apply text-teal-700;
    }

}

@layer base{

    }


@layer utilities {
    /* hides scrollbars keeping scroll function */
    @variants responsive {
      /* Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

      .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }

        /* scrollbar styling gor Chrome Safari and Opera */
    /* width */
    .scrollable::-webkit-scrollbar, html::-webkit-scrollbar {
        width: 13px;
        }

    /* Track */
    .scrollable::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
        background: rgba(104, 168, 163, 0.2);
        border-radius: 10px;
        }

    /* Handle */
    .scrollable::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
        background: rgba(13, 148, 136, 0.8);
        border-radius: 10px;
        }

        /* Handle on hover */
    .scrollable::-webkit-scrollbar-thumb:hover, html::-webkit-scrollbar-thumb:hover {
        background: rgba(13, 148, 136, 1);
        opacity: 0.3;
        }

        /* Firefox only has limited customization for just width and color*/
    .scrollable, html{
        scrollbar-width: 13px;
        /* firefox scrollbar-color : <color thumb> <color track> */
        scrollbar-color: rgba(13, 148, 136, 0.3) rgba(104, 168, 163, 0.2);
    }
  }
}
